<form [formGroup]="questionnaire" (ngSubmit)="submitQuestionnaire()">
<mat-card>
  <mat-card-title> GAD-7 </mat-card-title>
  <mat-divider></mat-divider>

  <mat-card-content>
    <section
      *ngFor="let question of questions; let questionIndex = index"
      class="question-unit"
      [attr.data-question]="questionIndex + 1"
    >
      <p class="question">
        <span class="question-number">{{ questionIndex + 1 }}.</span>
        {{ question.prompt }}
      </p>

      <mat-radio-group
        class="options"
        [formControlName]="'answer' + questionIndex"
        aria-label="Answer choices"
      >
        <mat-radio-button
          *ngFor="let option of question.options"
          class="answer-choice"
          [attr.data-choice]="option.value"
          [attr.data-value]="option.value"
          [value]="option.value"
        >
          {{ option.label }}
        </mat-radio-button>
      </mat-radio-group>
      <div
        *ngIf="validationAttempted && answerControl(questionIndex).invalid"
        data-validation-error
        role="alert"
      >
        Answer required.
      </div>
    </section>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button type="submit">ادامه</button>
  </mat-card-actions>
</mat-card>
</form>
